.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(122, 168, 243, 0.664);
}

.hero-section img {
  width: 350px;
  height: 350px;
}

.hero-section h4 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(230, 114, 6);
}

.hero-section h1 {
  font-size: 44px;
  font-weight: 700;
  
}

.hero-section p {
  font-size: 20px;
  color: rgb(85, 83, 83);
  max-width: 700px;
  text-align: center;
  line-height: 2;
}

@media(max-width: 700px){
    .hero-section h4 {
        font-size: 24px;
        font-weight: 500;
      }
      
      .hero-section h1 {
        font-size: 36px;
        font-weight: 700;
      }

      .hero-section img {
        width: 200px;
        height: 200px;
      }
      
}